.companies {
  .add_new_company {
    margin-left: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
  }
  table {
    text-align: center;
  }
}
// CR: Dobrze jest dodac nową pustą linię na koniec pliku
