.notes {
  .add_new_note {
    margin-left: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
  }
  table {
    text-align: center;
    .note_content {
      width: 75%;
      text-align: left;
    }
  }
}
