// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.users {
  .add_new_user {
    margin-left: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
  }
  .users_table_info {
    margin-top: 1em;
  }
  table {
    text-align: center;
  }
}

.flex-float-right-content {
  display: flex;
  justify-content: flex-end;
}